body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002b5c;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 70px;
    padding: 0 20px;
}

header nav > a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    left: 0;
    bottom: 0;
    background-color: #314190; 
    transition: width 0.3s ease-in-out;
}

header nav > a:hover::after {
    width: 100%; 
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.logo-container span {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding: 5px;
}


.login-btn {
    background-color: black;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}


.logo-container img {
    height: 50px;
}

main {
    /* padding: 20px; */
    flex: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px 20px;
    text-align: center;
    color: #333;
    font-size: 14px;
}
