<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grand Galop | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    {% block styles %}{% endblock %}
</head>
<body>

    <header class="header">
        <nav>
            <div class="logo-container">
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Grand Galop" class="logo"></a>
                <a href="{{ url_for('home') }}">Grand Galop</a>
            </div>
            <a href="{{ url_for('home') }}">Accueil</a>
            <a href="{{ url_for('calendrier') }}">Calendrier</a>
            <a href="{{ url_for('club') }}">Club</a>
        </nav>
        <a href="{{ url_for('connexion') }}" class="login-btn">Se Connecter</a>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Mohamed-Amine Yahyaoui, Niksan Nagarajah, Romain Lima</p>
        <p>&copy; SAE Poney - Tous droits réservés</p>
        <p>2024-2025 BUT INFORMATIQUE</p>
    </footer>

</body>
</html>
