{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<section class="content">
    <div class="row">
        <div class="column">
            <img src="{{ url_for('static', filename='Image_du_club.jpg' )}}" alt="Image du club">
        </div>
        <div class="column">
            <p>
                Quod cum ita sit, paucae domus studiorum seriis cultibus antea celebratae nunc ludibriis ignaviae torpentis exundanti, vocali sono, perfabili tintinnitu fidium resultantes, denique pro philosophico cantore et in locum oratoris doctor...
            </p>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <p>
                Artium ludicrarum accultur et bybliothecis sepulcrorum ritus in perpetuum clausis organia fabricantur hydraulicae, et lyrae ad speciem carptorum ingentes tibiaeque et histrionici gestus instrumenta non levia...
            </p>
        </div>
        <div class="column">
            <img src="{{ url_for('static', filename='Cours.jpg' )}}" alt="Cours de poney">
        </div>
    </div>

    <div class="row">
        <div class="column">
            <img src="{{ url_for('static', filename='entrainement.jpg' )}}" alt="Entraînement">
        </div>
        <div class="column">
            <p>
                Artium ludicrarum accultur et bybliothecis sepulcrorum ritus in perpetuum clausis organia fabricantur hydraulicae, et lyrae ad speciem carptorum ingentes tibiaeque et histrionici gestus instrumenta non levia...
            </p>
        </div>
    </div>
</section>

{% endblock %}