{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}

<section class="presentation">
    <div class="presentation-content">
        <h1 class="presentation-title">Grand Galop</h1>
        <p>Bienvenue au Poney Club Grand Galop, votre espace dédié à l’équitation en Sologne. Que vous soyez débutant ou cavalier confirmé, nous proposons des cours adaptés à tous les niveaux, dans une ambiance conviviale et passionnée. Avec nos moniteurs qualifiés et nos poneys soigneusement sélectionnés, chaque session devient une expérience inoubliable.</p>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="column">
            <img src="{{ url_for('static', filename='images/Image_du_club.jpg' )}}" alt="Image du club">
        </div>
        <div class="column">
            <h1>Notre Engagement</h1>
            <p>
                Au Grand Galop, nous accordons une importance particulière à la sécurité et au bien-être de nos poneys. Chaque cavalier est formé aux bonnes pratiques équestres, et nos installations modernes garantissent un environnement propice à l’apprentissage et au plaisir. Venez découvrir le bonheur de l’équitation au cœur de la nature.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <h1>Des Activités Variées</h1>
            <p>
                Que vous souhaitiez participer à des cours collectifs ou individuels, vous trouverez l’activité qui vous convient. Chaque séance est organisée pour maximiser votre progression et votre confort, tout en respectant les besoins des poneys qui profitent de périodes de repos entre les sessions.
            </p>
        </div>
        <div class="column">
            <img src="{{ url_for('static', filename='images/Cours.jpg' )}}" alt="Cours de poney">
        </div>
    </div>

    <div class="row">
        <div class="column">
            <img src="{{ url_for('static', filename='images/entrainement.jpg' )}}" alt="Entraînement">
        </div>
        <div class="column">
            <h1>Un Planning Adapté</h1>
            <p>
                Grâce à notre système de réservation en ligne, planifiez facilement vos cours en fonction de vos disponibilités. Moniteurs, cavaliers et poneys sont présents dans un planning clair et accessible, garantissant une organisation optimale pour tous.
            </p>
        </div>
    </div>
</section>
{% endblock %}
