{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='profil.css') }}">
{% endblock %}

{% block content %}
<br><br>
<div class="profile-container">
    {% if utilisateur %}
        <h1>Profil</h1>
        <table>
            {% for u in utilisateur %}
                <tr>
                    <td>Identifiant</td>
                    <td>{{ u.id_membre }}</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>{{ u.nom }}</td>
                </tr>
                <tr>
                    <td>Prénom</td>
                    <td>{{ u.prenom }}</td>
                </tr>
                <tr>
                    <td>Date de Naissance</td>
                    <td>{{ u.date_naissance }}</td>
                </tr>
                <tr>
                    <td>Adresse Mail</td>
                    <td>{{ u.email }}</td>
                </tr>
                <tr>
                    <td>Téléphone</td>
                    <td>{{ u.telephone }}</td>
                </tr>
                <tr>
                    <td>Poids</td>
                    <td>{{ u.poids }} kg</td>
                </tr>
                <tr>
                    <td>Niveau</td>
                    <td>{{ u.niveau }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="profile-button-container">
            <button class="modify-button">Modifier</button>
        </div>
        {% else %}
        <p>Aucune information pour le moment.</p>
    {% endif %}
</div>
{% endblock %}
